<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Password Tool</title>
    
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <header class="row">
        <div class="text-center">
          <h1>Password Tool</h1>
        </div>
      </header>
      
      <div class="row" ng-app="passwordTool" ng-controller="passwordStrengthController">
        <div class="col-md-6">
          
          <!-- Password widget -->
          <div class="pw-widget">
            <input type="{{inputPasswordType}}" class="form-control" placeholder="Type any password..." autofocus="true" ng-model="password" ng-keyup="onPasswordChange()" ng-init="onPasswordChange()">
            <div class="bar {{barSizeClass}}"></div>
            
            <input type="checkbox" class="checkbox-show-pw" ng-model="showPassword" ng-change="onShowPaswordChange()" ng-init="onShowPaswordChange()"> Show password
          </div>
          
        </div>
        
        <div class="col-md-6">
          <!-- Info by zxcvbn -->
          <div>
            Time to calculate the password's strength: {{estimate.calc_time}}ms
          </div>
          <div>
            Score: {{estimate.score}}
          </div>
          <div>
            Time to crack: {{estimate.crack_time_display}} ({{estimate.crack_time}}s)
          </div>
          <div>
            Entropy: {{estimate.entropy}}
          </div>
        </div>
      </div>
      
      <!-- Footer -->
      <footer class="row">
        <div class="col-md-10 col-md-offset-1">
          <!-- Disclaimer -->
          <strong>
            No password is stored on any server. This is just a client-side application in your browser.
            Everything you do is your own fault.
          </strong>
          If you want to check yourself, see the <a href="https://github.com/sgade/password-tool">code on Github</a>.
        </div>  
      </footer>
    </div>
    
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="https://cdn.rawgit.com/dropbox/zxcvbn/0a8b5b65a1864437eaac5b8828571c835cce28f0/zxcvbn.js"></script>
    <script src="script.js"></script>
  </body>
</html>
