.pw-widget input {
  width: 100%;
}
.pw-widget input:focus {
  margin-bottom: 1px;
}
.pw-widget .bar {
  height: 3px;
  border-radius: 1px;
  
  transition: width 0.25s;
  -webkit-transition: width 0.25s;
  
  background-color: red;
}
.pw-widget .bar.score-0 {
  width: 10%;
  background-color: red;
}
.pw-widget .bar.score-1 {
  width: 25%;
  background-color: red;
}
.pw-widget .bar.score-2 {
  width: 50%;
  background-color: yellow;
}
.pw-widget .bar.score-3 {
  width: 75%;
  background-color: yellow;
}
.pw-widget .bar.score-4 {
  width: 100%;
  background-color: green;
}

footer {
  margin-top: 6px;
  padding-top: 3px;
  border: 0px solid #ccc;
  border-top-width: 1px;
}
